!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    /%title= current_page.data.title || "Sinequa"
    /= display_meta_tags
    = vite_client_tag
    /= vite_stylesheet_tag 'site'
    = vite_javascript_tag 'application'
  %body
    #scroll-progress{"data-controller" => "scroll-progress"}
    #navbar
      = partial "navbar"
    = yield