---
layout: cover
---
- content_for :title do
  = album.delete_prefix("source/images/galleries/").gsub("_", " ")
.relative
  #gallerie-cover.relative
    = image_tag album_cover_photo(album.delete_prefix("source/images/galleries/")), class: "absolute h-screen w-screen object-cover overflow-hidden object-top"
  #gallerie-header.fixed.bottom-0.pl-4.pb-4.text-white{class: "lg:pl-12 lg:pb-12"}
    %h1.text-4xl.font-bold= link_to album.delete_prefix("source/images/galleries/").gsub("_", " ").upcase, '/'.concat(album_photos(album)).concat('.html')
    /%h2.text-xl= current_page.data.album_subtitle