---
layout: catalog
---
- content_for :title do
  = album.delete_prefix("source/images/galleries/").gsub("_", " ")
.container.mx-auto.py-2.px-6
  .bg-white.flex.justify-between{class: "h-32 lg:h-64"}
    #album-header{class: "w-9/12 pl-2"}
      %h1.text-4xl.font-bold= album.delete_prefix("source/images/galleries/").gsub("_", " ").upcase
      /%h2.text-xl= current_page.data.album_subtitle
    #album-cover{class: "w-3/12 pr-2 invisible sm:visible"}
      = image_tag album_cover_photo(album.delete_prefix("source/images/galleries/")), resize: "480x480", class: "object-none overflow-hidden h-full w-full"
#album-catalog{class: "container mx-auto py-2 px-6"}
  %turbo-frame{ id: "album-photos", src: url_for("/albums/#{album_photos_frame(album)}.html"), target: "_top" }
    .flex
      = image_tag "spinner.gif", class: "mx-auto w-8 h-8"