---
layout: false
---

%turbo-frame{ id: "album-photos"}
  #album-photos.flex.flex-wrap.relative
    - photos_list(album.delete_prefix("source/images/galleries/")).each do |photo|
      .thumbnail.m-1.relative{data: {controller: "thumbnail", thumbnail: {target: "container", hmax_value: "200"}}}
        = link_to '/album/' + photo.delete_prefix("source/images/galleries/").gsub(/(jpg|jpeg|JPG)/, 'html'), class: "" do
          = image_tag photo.delete_prefix("source/images/"), class: "", data: {thumbnail: {target: "image"}, action: "load->thumbnail#resize"}, resize: "640x640"