---
layout: photo
---
- content_for :title do
  = photo.delete_prefix("source/images/galleries/").gsub("_", " ").delete_suffix(".jpg")
#photo-container{class: "px-0 md:px-2 mx-auto bg-gray-900 h-screen", data: {controller: "photo-viewer", photo_viewer: {next_photo_value: next_photo_page(album, photo), previous_photo_value: previous_photo_page(album, photo), gallery_value: '/' + album_photos(album).concat('.html') }}}
  %div.absolute.top-0.right-0.py-3.px-3{class: "md:py-5 md:px-5"}
    = link_to '/' + album_photos(album).concat('.html') do
      %svg{:viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg", class: "h-8 w-8", fill: "none", stroke: "white"}
        %title Back to Album
        %path{:d => "M6 18L18 6M6 6l12 12", stroke_linecap: "round", stroke_linejoin: "round", stroke_width: "2"}
  %div.flex.text-white.items-center.justify-between{class: "h-screen"}
    %div
      = link_to previous_photo_page(album, photo) do
        %svg{:viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg", class: "h-8 w-8", fill: "none", stroke: "white"}
          %title Previous Photo
          %path{:d => "M15 19l-7-7 7-7", stroke_linecap: "round", stroke_linejoin: "round", stroke_width: "2"}
    = image_tag photo_path(photo), data: {photo_viewer_target: "image"} ,class: "flex-grow-0 mx-auto max-w-[85%] md:max-w-[90%] max-h-screen"
    %div
      = link_to next_photo_page(album, photo) do
        %svg{:viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg", class: "h-8 w-8", fill: "none", stroke: "white"}
          %title Next Photo
          %path{:d => "M9 5l7 7-7 7", stroke_linecap: "round", stroke_linejoin: "round", stroke_width: "2"}