%nav{class: "bg-gray-50"}
  %div{class: "flex justify-around items-center text-black h-16"}
    %div
      = link_to "Home", "/", class: "px-3 py-2 rounded-md font-medium hover:bg-gray-600 hover:text-white"
    %div
      = link_to "Portfolio", "/albums-catalog.html", class: "px-3 py-2 rounded-md font-medium hover:bg-gray-600 hover:text-white"
    %div
      = link_to "Contact", "/", class: "px-3 py-2 rounded-md font-medium hover:bg-gray-600 hover:text-white"