---
title: My Fantastic Gallery
description: My Fantastic Gallery
portfolio_title: My Fantastic Gallery
portfolio_subtitle: My Fantastic Gallery
layout: catalog
---
#portfolio-header.container.px-4.py-2.mx-auto{class: ""}
  %h1.text-4xl.font-bold= current_page.data.portfolio_title.upcase
  %h2.text-xl= current_page.data.portfolio_subtitle
#portfolio-catalog.container.px-4.py-2.mx-auto
  #portfolio-albums.grid.gap-4.justify-center{class: "grid-cols-2 md:grid-cols-3"}
    - albums_list.each do |album|
      .album.relative
        .absolute.bottom-0.pl-3.pb-3
          .text-xl.font-bold.text-white= album_name(album).upcase
        = link_to album_cover_page(album).concat('.html') do
          %div{class: "h-48 md:h-64 overflow-hidden aspect-square"}
            = image_tag album_thumbnail(album), resize: '640x640', crop: "480x480", class: "object-none w-full h-full"