---
title: Ma galerie
description: mes belles photos
portfolio_title: StudiosJB Gallery
portfolio_subtitle: His favorite photos
portfolio_cover: gallery-cover.jpg
layout: cover
---
.relative
  #gallerie-header{class: "fixed bottom-0 pl-4 pb-4 text-white lg:pl-12 lg:pb-12"}
    %h1.text-4xl.font-bold= link_to current_page.data.portfolio_title.upcase, "/albums-catalog.html"
    %h2.text-xl= current_page.data.portfolio_subtitle
  #gallerie-cover
    = image_tag current_page.data.portfolio_cover, class: "h-screen w-screen object-cover overflow-hidden"