---
title: My Fantastic Gallery
description: My Fantastic Gallery
portfolio_title: My Fantastic Gallery
portfolio_subtitle: My Fantastic Gallery
portfolio_location: My Fantastic Gallery
layout: cover
---
.relative
  #gallerie-header.fixed.bottom-0.pl-4.pb-4.text-white{class: "lg:pl-12 lg:pb-12"}
    %h1.text-4xl.font-bold= link_to current_page.data.portfolio_title.upcase, "/albums-catalog.html"
    %h2.text-xl= current_page.data.portfolio_subtitle
  #gallerie-cover
    = image_tag "gallery-cover.jpg", class: "h-screen w-screen object-cover overflow-hidden"